body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: #242234;
}
main {
  margin-top: 100px;
}
.navbar {
  background-color: #0071dc;
}
li:hover {
  background-color: rgb(71, 129, 238);
  border-radius: 5px;
  transition: all 0.3s;
}
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
#addToCart-btn:hover {
  background-color: rgb(4, 171, 201);
  transition: all 0.5s;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
/* -----------rating--------------- */
.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  white-space: nowrap;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005 ";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgb(185, 179, 179);
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005 ";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(255, 255, 0, 0.726);
}
